@model IEnumerable<_01_Music.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Album List </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<form action="/StoreManager/Search" method="post">*@
@*使用html辅助方法，更加强壮*@
@using (Html.BeginForm("Search", "StoreManager", FormMethod.Post, new { target="_blank" }))
{
<input type="text" name="q" />
<input type="submit" value="Search" />
}



<table>
    <tr>
        <th>
            Genre
        </th>
        <th>
            Artist
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th>
            AlbumArtUrl
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumArtUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })
        </td>
    </tr>
}

</table>
