@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
@{
    string rootNameSpace = "MyApp";
}
<p>
<h2>
Razor基本语法</h2></p>
<p>括号在这里非常有用</p>
<span>@(rootNameSpace).Models</span><br/>
<span>phili@gmail.com</span><br />

<p>
<span>真的需要@符号的时候,就用2个@来代替</span><br />
you should follow @@hack,@@jon
</p>

<h2>Html 编码</h2>
<p>

@{
    //string message = "<script>alert('hackked!');</script>";
    string message = "<strong>this is bold text</strong>";
}
<span>@message</span><br />
<span>@Html.Raw(message)</span>
<h2>注释@**@</h2>
</p>


<p>
<form action="/Home/Search" method="post">
<input type="text" name="q" />
<input type="submit" value="Search" />
</form>
</p>

<p>
<h2>Ajax的ActionLink方法</h2>


  @*  @RenderSection("scripts", required: false);*@

    <div id ="dailydeal">

    @Ajax.ActionLink("Click here to see today's special!",
    "DailyDeal",
    new AjaxOptions{
    UpdateTargetId="dailydeal",
    InsertionMode=InsertionMode.Replace,
    HttpMethod="GET"
    });
    </div>
</p>
<h2>自动填充</h2>


<p>
<input type="text" id="searchTerm" name="q" data-autocomplete-source='@Url.Action("QuickSearch", "Home")' />
</p>

<img id="img1" src="../../Content/Images1/home-showcase.png" />

<script type="text/javascript">
    function test() {
        alert('test');
    }

    $(function () {
        $("#img1").mouseover(function () {
            // alert('test1');
            $(this).animate({ height: "+=25", width: "+=25" })
        }).mouseout(function () {
            $(this).animate({ height: "-=25", width: "-=25" });
        });

        //                $("#searchTerm").bind("keydown", function (event) {
        //                  if (event.keyCode === $.ui.keyCode.TAB &&$(this).data("autocomplete").menu.active) {
        //                    event.preventDefault();
        //                }
        //            })


        //        $('#searchTerm').autocomplete({

        //            source: function (request, response) {
        //                $.ajax({
        //                    url: '@Url.Action("QuickSearch", "Home")',
        //                    data: { id: request.term },
        //                    dataType: 'json',
        //                    type: 'Get',
        //                    //                    minLength: 3,
        //                    success: function (data) {
        //                        response($.map(data, function (item) {
        //                            return { label: item.Name, value: item.Name };
        //                        }))
        //                    }
        //                    //                    success: function (data) {
        //                    //                        alert("data:" + data);
        //                    //                        response(data);
        //                    //                    }
        //                });
        //            }
        //        });
        //    });


        //    $(function () {
        //        //        $("input[data-autocomplete-source]").each(function () {
        //        $("#q").each(function () {
        //            alert('cc');
        //            var target = $(this);
        //            target.autocomplete({ source:
        //            target.attr("data-autocomplete-source")
        //            });
        //            });

        //        $("#q").autocomplete({
        //      alert('d');
        //            source: function (request, response) {
        //                $.ajax({
        //                    url: '@Url.Action("QuickSearch","Home")',
        //                    data: { id: request.term },
        //                    dataType: 'json',
        //                    success: function (event, ui) {
        //                        q.valueOf(ui.item.value);
        //                    }

        //                });
        //            }

        //        });
    });



</script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" temp_href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <script src="http://code.jquery.com/jquery-1.9.1.js" temp_src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" temp_src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

 @*   <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")"   rel="stylesheet" type="text/css" />*@
    @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"  type="text/javascript" />

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"  type="text/javascript" />*@